<div class="container">
  <h3 mat-dialog-title>Ticket Number: {{data.ticketNumber}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <div class="form">
      <mat-form-field color="accent">
        <input matInput input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input placeholder="Email Address" required [(ngModel)]="data.email" name="email">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Problem Description" [(ngModel)]="data.problemDescription" name="problemDescription" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <select matNativeControl required placeholder="Status" [(ngModel)]="data.status" name="status">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <option> Open </option>
          <option> Pending </option>
          <option> Closed </option>
        </select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Priority Level</mat-label>
        <select matNativeControl required placeholder="priority_level" [(ngModel)]="data.priorityLevel" name="priorityLevel">
          <option> 1 </option>
          <option> 2 </option>
          <option> 3 </option>
          <option> 4 </option>
          <option> 5 </option>
        </select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Edit</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
