<mat-toolbar color="primary">
   <span>Service Desk Portal</span>
  <span class="spacer"></span>
  Tickets Data
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8" >

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <!-- ID Column -->
    <ng-container matColumnDef="TicketNumber">
      <mat-header-cell *matHeaderCellDef>Ticket Number</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.ticketNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Problem Description">
      <mat-header-cell *matHeaderCellDef>Problem Description</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.problemDescription}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priorityLevel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority Level</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.priorityLevel}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CreatedOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created On</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdOn}}</mat-cell>
    </ng-container>


    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.ticketNumber, row.title, row.status,  row.problemDescription, row.priorityLevel, row.email)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.ticketNumber, row.title, row.status)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
